<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<nav th:replace="~{layout :: navigation}"></nav>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<form method="post" class="upsert-form alternate-action" th:object="${order}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		    <table th:attr="data-action=${type}">
		        <tbody>
		            <tr>
		                <td><label>Invoice Number*</label></td>
		                <td>
		                    <input type="text" th:field="*{invoiceNumber}" class="readonly-id">
		                	<div class="field-validation-error" th:errors="*{invoiceNumber}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td><label>Customer*</label></td>
		                <td> 
					        <select th:field="*{customerId}">
					        	<option th:value=null>No Specific Customer</option>
							    <option th:each="option : ${customerDropdown}" th:value="${option.longValue}" 
							    	th:text="${option.text}" th:selected="${option.longValue == customerId}"/>
					        </select>
		                    <div class="field-validation-error" th:errors="*{customerId}"></div>
		                </td>
		            </tr>   
		            <tr>
		                <td><label>Salesman*</label></td>
		                <td>
					        <select th:field="*{salesEmployeeNumber}">
					        	<option th:value=null>No Specific Salesman</option>
							    <option th:each="option : ${salesmanDropdown}" th:value="${option.stringValue}" 
							    	th:text="${option.text}" th:selected="${option.stringValue == salesEmployeeNumber}"/>
					        </select>
		                    <div class="field-validation-error" th:errors="*{salesEmployeeNumber}"></div>
		                </td>
		            </tr>
		            <tr>
		            	<td colspan=2 class="combined-validation">
		            		<div class="field-validation-error" th:errors="${order}"></div>
		            	</td>
		            </tr>     
		            <tr>
		                <td><label>Order Date*</label></td>
		                <td>
		                    <input type="date" th:field="*{orderDate}">
		                	<div class="field-validation-error" th:errors="*{orderDate}"></div>
		                </td>
		            </tr>              
		            <tr>
		                <td><label>Shipped Date</label></td>
		                <td>
		                    <input type="date" th:field="*{shippedDate}">
		                	<div class="field-validation-error" th:errors="*{shippedDate}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td><label>Due Date</label></td>
		                <td>
		                    <input type="date" th:field="*{dueDate}">
		                	<div class="field-validation-error" th:errors="*{dueDate}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td><label>Delivery*</label></td>
		                <td>
					        <select th:field="*{deliveryId}">
					        	<option th:value=null>No Specific Delivery</option>
							    <option th:each="option : ${deliveryDropdown}" th:value="${option.longValue}" 
							    	th:text="${option.text}" th:selected="${option.longValue == categoryId}"/>
					        </select>
		                    <div class="field-validation-error" th:errors="*{deliveryId}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td class="textarea-label"><label>Destination Address*</label></td>
		                <td>
		                    <textarea th:field="*{destinationAddress}"></textarea>
		                    <div class="field-validation-error" th:errors="*{destinationAddress}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td><label>Destination City*</label></td>
		                <td>
		                    <input type="text" th:field="*{destinationCity}">
		                	<div class="field-validation-error" th:errors="*{destinationCity}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td><label>Destination Postal Code*</label></td>
		                <td>
		                    <input type="text" th:field="*{destinationPostalCode}">
		                	<div class="field-validation-error" th:errors="*{destinationPostalCode}"></div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		    <button class="blue-button" type="submit" th:text="${type} + ' Order'"></button>
		</form>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>