<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<nav th:replace="~{layout :: navigation}"></nav>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<div class="grid-container order-detail">
			<section class="header-info">
		        <div>Invoice Number: <span th:text="${headerInvoiceNumber}"></span></div>
		        <div>Customer Company: <span th:text="${headerCustomer}"></span></div>
		        <div>Sales Name: <span th:text="${headerSalesman}"></span></div>
		        <div>Order Date: <span th:text="${headerOrderDate}"></span></div>        
		    </section>
		    <a class="blue-button create-button" 
		    	th:href="@{/order/upsertDetailForm(invoiceNumber=${headerInvoiceNumber})}">Assign New Salesman</a>
			<table>
		        <thead>
		            <tr>
		                <th>Action</th>
		                <th>Product</th>
		                <th>Price Per Unit</th>
		                <th>Quantity</th>
		                <th>Discount</th>
		                <th>Total</th>
		            </tr>
		        </thead>
		        <tbody>			
					<tr th:each="orderDetail : ${grid}">
						<td>
							<a th:href="@{/order/upsertDetailForm(id=${orderDetail.id})}" class="blue-button">Edit</a>
							<a th:href="@{/order/deleteDetail(id=${orderDetail.id})}" class="blue-button">Delete</a>
						</td>
						<td th:text="${orderDetail.product}"></td>
						<td th:text="${#numbers.formatCurrency(orderDetail.price)}"></td>
						<td th:text="${orderDetail.quantity}"></td>
						<td th:text="${orderDetail.discount}"></td>
						<td th:text="${#numbers.formatCurrency(orderDetail.totalPrice)}"></td>
					</tr>
				</tbody>
				<tfoot>
		            <tr>
		                <td colspan="6">
		                    <div class="pagination">
		                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
		                        <div>
									<a th:each="loop:${#numbers.sequence(1,totalPages)}" 
										th:href="@{/product/index(page=${loop})}"
										th:text="${loop}"></a>
		                        </div>
		                    </div>
		                </td>
		            </tr>
		        </tfoot>
			</table>
		</div>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>