<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<nav th:replace="~{layout :: navigation}"></nav>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<div class="grid-container region-detail">
			<section class="header-info">
		        <div>City: <span th:text="${headerCity}"></span></div>
		        <div>Remark: <span th:text="${headerRemark}"></span></div>
		    </section>
		    <form method="get" class="filter" th:attr="action=@{/region/detail}">
		    	<input type="hidden" name="id" th:attr="value=${headerId}">
		        <input type="text" name="employeeNumber" placeholder="Employee Number..." th:value="${employeeNumber}">
		        <input type="text" name="name" placeholder="Full Name..." th:value="${name}">
		        <select name="employeeLevel">
		        	<option th:value=null>No Specific Level</option>
				    <option th:each="option : ${employeeLevelDropdown}" th:value="${option.stringValue}" 
				    	th:text="${option.text}" th:selected="${option.stringValue == employeeLevel}"/>
		        </select>
		        <input type="text" name="superiorName" placeholder="Superior Name..." th:value="${superiorName}">
		        <button class="blue-button" type="submit">Search</button>
		    </form>
		    <a class="blue-button create-button" th:href="@{/region/assignDetailForm(id=${headerId})}">Assign New Salesman</a>
			<table>
		        <thead>
		            <tr>
		                <th>Action</th>
		                <th>Employee Number</th>
		                <th>Full Name</th>
		                <th>Level</th>
		                <th>Superior</th>
		            </tr>
		        </thead>
		        <tbody>
					<tr th:each="salesman : ${grid}" th:object="${salesman}">
						<td>
							<a th:href="@{/region/deleteDetail(regionId=${headerId},employeeNumber=${salesman.employeeNumber})}" 
								class="blue-button delete-button">Delete</a>
						</td>
						<td th:text="${salesman.employeeNumber}"></td>
						<td th:text="${salesman.fullName}"></td>
						<td th:text="${salesman.level}"></td>
						<td th:text="${salesman.superior}"></td>
					</tr>
				</tbody>
				<tfoot>
		            <tr>
		                <td colspan="5">
		                    <div class="pagination">
		                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
		                        <div>
									<a th:each="loop:${#numbers.sequence(1,totalPages)}" 
										th:href="@{/region/detail(page=${loop},id=${headerId},employeeNumber=${employeeNumber},name=${name},employeeLevel=${employeeLevel},superiorName=${superiorName})}"
										th:text="${loop}"></a>
		                        </div>
		                    </div>
		                </td>
		            </tr>
		        </tfoot>
			</table>
		</div>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>