<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<nav th:replace="~{layout :: navigation}"></nav>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<form method="post" class="upsert-form" th:attr="action=@{/region/upsert}" th:object="${region}">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
			<input type="hidden" th:field="*{id}"/>
		    <table>
		        <tbody>
		            <tr>
		                <td><label>Region City*</label></td>
		                <td>
		                	<input type="text" th:field="*{city}">
		                	<div class="field-validation-error" th:errors="*{city}"></div>
		                </td>
		            </tr>
		            <tr>
		                <td class="textarea-label"><label>Remark</label></td>
		                <td>
		                	<textarea th:field="*{remark}"></textarea>
		                	<div class="field-validation-error" th:errors="*{remark}"></div>
		                </td>
		            </tr>
		        </tbody>
		    </table>
		    <button class="blue-button" type="submit" th:text="${type} + ' Region'"></button>
		</form>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>