<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="~{layout :: head}"></head>
<body class="main-body" th:data-role="${#authentication.getAuthorities()}">
	<nav th:replace="~{layout :: navigation}"></nav>
	<header th:replace="~{layout :: header (${breadCrumbs})}"></header>
	<main>
		<div class="grid-container customer-index">
		    <form method="get" class="filter" th:attr="action=@{/customer/index}">
		        <input type="text" name="company" placeholder="Company Name..." th:attr="value=${company}">
		        <input type="text" name="contact" placeholder="Contact Name..." th:attr="value=${contact}">
		        <button class="blue-button" type="submit">Search</button>
		    </form>
		    <a class="blue-button create-button" th:href="@{/customer/upsertForm}">Insert New Customer</a>
			<table>
		        <thead>
		            <tr>
		                <th>Action</th>
		                <th>Company</th>
		                <th>Contact</th>
		                <th>Address</th>
		                <th>City</th>
		            </tr>
		        </thead>
				<tbody>
					<tr th:each="customer: ${grid}">
						<td>
							<a th:href="@{/customer/upsertForm(id=${customer.id})}" class="blue-button update-button">Edit</a>
							<a th:href="@{/customer/delete(id=${customer.id})}" class="blue-button delete-button">Delete</a>
						</td>
						<td th:text="${customer.companyName}"></td>
						<td th:text="${customer.contactPerson}"></td>
						<td th:text="${customer.address}"></td>
						<td th:text="${customer.city}"></td>
					</tr>				
				</tbody>
				<tfoot>
		            <tr>
		                <td colspan="5">
		                    <div class="pagination">
		                        <div th:text="|page ${currentPage} of ${totalPages}|"></div>
		                        <div>
									<a th:each="loop:${#numbers.sequence(1,totalPages)}" 
										th:href="@{/customer/index(page=${loop},company=${company},contact=${contact})}"
										th:text="${loop}"></a>
		                        </div>
		                    </div>
		                </td>
		            </tr>
		        </tfoot>
			</table>
		</div>
	</main>
	<footer th:replace="~{layout :: footer}"></footer>
	<th:block th:replace="~{layout :: javascript}"></th:block>
</body>
</html>